@if (GaussianBlurFilterSettings is not null)
{
    <h2 class="text-xl mb-4 text-white">Saturuation Controls</h2>
    <label for="GaussianBlur" class="block text-sm font-medium text-white">GaussianBlur Amount: @(GaussianBlurFilterSettings.BlurAmount)</label>
    <input type="range" id="GaussianBlur" min="0" max="10" step="1" @bind="GaussianBlurFilterSettings.BlurAmount" @bind:event="oninput" @bind:after="ApplyFilters" class="mt-2 w-full slider">
}

@code {
    [Parameter]
    public GaussianBlurFilter? GaussianBlurFilterSettings { get; set; }

    [Parameter]
    public EventCallback OnApplyFilters { get; set; }

    private void ApplyFilters()
    {
        OnApplyFilters.InvokeAsync();
    }
}