@if (TransparencyFilterSettings is not null)
{
    <h2 class="text-xl mb-4 text-white">Saturuation Controls</h2>
    <label for="Transparency" class="block text-sm font-medium text-white">Transparency: @(TransparencyFilterSettings.Transparency * 100)%</label>
    <input type="range" id="Transparency" min="0.0" max="1.0" step="0.01" @bind="TransparencyFilterSettings.Transparency" @bind:event="oninput" @bind:after="ApplyFilters" class="mt-2 w-full slider">
}

@code {
    [Parameter]
    public TransparencyFilter? TransparencyFilterSettings { get; set; }

    [Parameter]
    public EventCallback OnApplyFilters { get; set; }

    private void ApplyFilters()
    {
        OnApplyFilters.InvokeAsync();
    }
}