<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GarlicPress.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GarlicPress.Properties.Settings>
            <setting name="autoBackup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveBackupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ssUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ssPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="systemTrayOnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ssRegionOrder" serializeAs="String">
                <value>us,wor,eu,jp</value>
            </setting>
            <setting name="settingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ssSkipGameNotFound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="romsOnRootSD2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="warningBeforeDelete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cleanTempOnExit" serializeAs="String">
                <value>False</value>
            </setting>
        </GarlicPress.Properties.Settings>
    </userSettings>
</configuration>